#!/usr/bin/env python
# base16-gnu-dircolors (https://github.com/embayer/base16-gnu-dircolors)
# Base16 GNU dircolors template by Markus Bayer
# {{scheme-name}} scheme by {{scheme-author}}

colors = {
    'color01': '{{base00-hex}}',
    'color02': '{{base01-hex}}',
    'color03': '{{base02-hex}}',
    'color04': '{{base03-hex}}',
    'color05': '{{base04-hex}}',
    'color06': '{{base05-hex}}',
    'color07': '{{base06-hex}}',
    'color08': '{{base07-hex}}',
    'color09': '{{base08-hex}}',
    'color10': '{{base09-hex}}',
    'color11': '{{base0A-hex}}',
    'color12': '{{base0B-hex}}',
    'color13': '{{base0C-hex}}',
    'color14': '{{base0D-hex}}',
    'color15': '{{base0E-hex}}',
    'color16': '{{base0F-hex}}'
}
